*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

body{
    background-color: #f7f9fd;
}
 body.dark{
    background-color: #000000;
     color: white;
 }

#list{
    background-color:#333;
    color: white;
    padding: 1rem;
    max-height: 100px; /* Adjust the height as per your design */
    overflow-y: auto;

}
/*css alert*/
.alertBudget {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    display: none;
}
